* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

/*----- Header -----*/

header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  position :fixed;
  top: 0;
  z-index: 10;
  padding:10px 20px 10px 15px;
}
header img{
	height:50px;
}
.header-left{
	float:left;
}
.header-right{
	float:right;
}

header ul{
	display:flex;
	font-size:13px;
	padding-top:7px;
}
header ul li{
	display:block;
	padding:4px 15px;
	color:#8f8f8f;
}
header ul li.login{
	border: 3px solid #ff7c4e;
	border-radius:20px;
	padding : 2px 17px;
	box-shadow: 3px 5px 7px #ccc;
	margin-left:30px;
	color:#5a5a5a;
	font-weight:bold;
}
header ul li:hover{
	background-color:#ff7c4e;
	color:#fff;
}
.menu{
	display:none;
}

/*----- Content 1 -----*/

.content-1 {
  padding: 150px 15px;
  display:flex;
  width:fit-content;
  margin:auto;
}

.content-1 .container {
  margin: 0 auto;
}

.content-1 .column-1 {
  float: left;
  width: 60%;
}

.content-1 .column-2 {
  float: right;
  width: 40%;
}
.content-1 .column-3 {
  float: left;
  width: 100%;
  display:none;
}

.content-1 .heading h1 {
  font-weight: 600;
  letter-spacing: 5px;
  margin: 0;
  padding: 0px;
}

.content-1 .picture {
  width: 400px;
  height: 270px;
  background: url("material/undraw_all_the_data_h4ki.svg") no-repeat;
  background-size: contain;
}

.content-1 .draw .picture {
  overflow: hidden;
}

.content-1 .draw .picture {
  z-index: 9999;
  transition: opacity 0.5s linear;
  cursor: pointer;
}

.content-1 .draw:hover > .picture {
	background: url("material/undraw_web_devices_ad58.svg") no-repeat;
    background-size: contain;
}

.content-1 .heading {
  padding-bottom: 20px;
}
.content-1 .description p {
  margin: 0.5px;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 15px;
}

.content-1 .submit-email {
  margin-top: 40px;
}

.content-1 input[type="text"] {
  width: 40%;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 40px;
  display: inline-block;
  border: 0.5px solid rgba(255, 124, 78, 0.897);
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
  box-shadow: 5px 5px 5px #ff7c4e;
}

.content-1 input[type="submit"] {
  color: #653a68;
  font-weight: bold;
  border-radius: 20px;
  background: #ff7c4e;
  padding: 12px;
  width: 100px;
  text-align: center;
  transition: 0.3s;
  border: none;
  box-shadow: 0 5px #653a68;
  cursor: pointer;
}

.content-1 input[type="submit"]:hover {
  background-color: #653a68;
  color: #ff7c4e;
  cursor: pointer;
  height: 50px;
  box-shadow: 0 3px #ff7c4e;
}

.content-1 input[type="submit"]:active {
  background-color: #653a68;
  color: #ffffff;
  cursor: wait;
  transform: translateY(4px);
  box-shadow: 0 3px #ff7c4e;
}

/*----- Content 2 -----*/

.content-2 {
	background-color: #653A68;
	color:white;
	display:flex;
}
.content-2 h1 {
	font-size:34px;
}
.content-2 p {
	font-size:12px;
}
.content-2 .top-wrapper {
	float: right;
	max-width:40%;
	text-align:right;
	margin-top:100px;
}
.content-2 .img-box {
	float: left;
	max-width:60%;
}
.content-2 .img-box img {
	height: 450px;
	width: 600px;
	object-fit: cover;
	object-position: -100px 0;
}
.content-2 button.mbtn {
	padding:0.5em 1.5em;
	border-radius: 10px;
	color:#FF7C4E;
	background-color:#fff;
	font-size:0.8em;
	border:0;
	cursor:pointer;
	margin-top:0.7em;
	font-weight: 1000; 
}
.content-2 .mbtn:hover {
	background-color: #FF7C4E;
	color:white;
	transition: all 0.8s;
	opacity: 1;
}
.content-2 .mbtn:active {
	opacity: 0.0;
	background-color: white;
}

/*----- Content 3 -----*/

.message-wrapper .container .heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #000;
}

.message-wrapper .container .heading h2 {
  font-weight: 700;
}

.message-wrapper .container .heading h4 {
  color: #5f5d60;
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-around;
}

.card-1, .card-3 {
  max-width: 264px;
  height: 394px;
  background-color: #FF7C4E;
  border-radius: 17px;
}

.card-2 {
  max-width: 264px;
  height: 394px;
  background-color: #653A68;
  border-radius: 17px;
}

.illustration {
  width: 70%;
  height: 140px;
  margin: 30px auto;
}

.card-1 img, .card-2 img, .card-3 img {
  width: 100%;
}

.card-title {
  height: 60px;
}

.card-title, .card-text {
  text-align: center;
  color: #fff;
}

.card-text {
  margin: 0 30px;
  font-size: 14px;
}

.card-1, .card-2, .card-3 {
  box-shadow: 0 6px 20px rgba(17,26,104,.2);
  transition: all .4s;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
  cursor: pointer;
}

.card-1:hover , .card-2:hover , .card-3:hover {
  box-shadow:
  0 2.8px 2.2px rgba(17, 26, 104, 0.034),
  0 6.7px 5.3px rgba(17, 26, 104, 0.048),
  0 12.5px 10px rgba(17, 26, 104, 0.06),
  0 22.3px 17.9px rgba(17, 26, 104, 0.072),
  0 41.8px 33.4px rgba(17, 26, 104, 0.086),
  0 100px 80px rgba(17, 26, 104, 0.12);
}

/*----- Footer -----*/
footer {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #403e56;
  display: flex;
}

.footer-contact {
  float: left;
  margin-right: 400px;
}

.footer-contact p {
  color: white;
  font-size: 20px;
  font-weight: normal;
}

footer .fa {
  color: white;
  font-size: 30px;
  padding-top: 20px;
  margin-right: 20px;
}

.footer-logo{
  float: right;
}

.footer-logo img {
  width: 200px;
}

.copyright {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #1c1c28;
  color: #b3aeb5;
  text-align: center;
  font-size: 16px;
}
